/* Write your CSS here */
.product-item-details-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .product-item-details-container {
    margin-top: 65px;
  }
}

.product-details-success-view {
  width: 84%;
  max-width: 560px;
}

@media screen and (min-width: 768px) {
  .product-details-success-view {
    width: 82%;
    max-width: 1115px;
  }
}

.product-details-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .product-details-container {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
  }
}

.product-image {
  border-radius: 15px;
  flex-shrink: 0;
}

@media screen and (min-width: 768px) {
  .product-image {
    width: 48%;
    max-width: 542px;
    max-height: 575px;
  }
}

@media screen and (min-width: 768px) {
  .product {
    width: 48%;
  }
}

.product-name {
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 500;
  margin-top: 25px;
  color: #3e4c59;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .product-name {
    font-size: 50px;
    margin-top: 0px;
  }
}

.price-details {
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 700;
  color: #171f46;
  margin-bottom: 15px;
}

.rating-and-reviews-count {
  display: flex;
  align-items: center;
}

.reviews-count {
  font-family: 'Open Sans';
  font-size: 15px;
  color: #12022f;
  margin-left: 13px;
}

.product-description {
  font-family: 'Roboto';
  font-size: 15px;
  margin-top: 17px;
  margin-bottom: 17px;
  color: #616e7c;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .product-description {
    font-size: 19px;
    margin-bottom: 25px;
  }
}

.label-value-container {
  display: flex;
  margin-bottom: 15px;
}

.label {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  margin-top: 0;
  color: #171f46;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .label {
    font-size: 19px;
  }
}

.value {
  font-family: 'Roboto';
  font-size: 15px;
  margin-top: 0;
  margin-left: 8px;
  margin-bottom: 0;
  color: #616e7c;
}

@media screen and (min-width: 768px) {
  .value {
    font-size: 19px;
  }
}

.horizontal-line {
  border-top: 1px solid #cbced2;
  margin: 0;
}

.quantity-container {
  display: flex;
  align-items: center;
}

.quantity-controller-button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.quantity-controller-icon {
  color: #616e7c;
  width: 17px;
  height: 17px;
}

.quantity {
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 500;
  margin-left: 25px;
  margin-right: 25px;
  color: #616e7c;
}

@media screen and (min-width: 768px) {
  .quantity {
    font-size: 25px;
  }
}

.button {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  background-color: #3b82f6;
  border: none;
  border-radius: 4px;
  padding-top: 13px;
  padding-bottom: 12px;
  padding-left: 22px;
  padding-right: 22px;
  color: #ffffff;
  outline: none;
  cursor: pointer;
}

.add-to-cart-btn {
  font-size: 13px;
  margin-bottom: 33px;
}

@media screen and (min-width: 768px) {
  .add-to-cart-btn {
    font-size: 15px;
    margin-bottom: 50px;
  }
}

.similar-products-heading {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 500;
  color: #3e4c59;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .similar-products-heading {
    font-size: 30px;
  }
}

.similar-products-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .similar-products-list {
    margin-top: 25px;
  }
}

@media screen and (min-width: 768px) {
  .similar-products-list {
    flex-direction: row;
  }
}

.products-details-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.product-details-failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.failure-view-image {
  width: 310px;
  height: 160px;
}

@media screen and (min-width: 768px) {
  .failure-view-image {
    width: 545px;
    height: 292px;
  }
}

.product-not-found-heading {
  font-family: 'Roboto';
  font-size: 34px;
  font-weight: 500;
  margin-top: 50px;
  color: #1e293b;
}
@media screen and (min-width: 768px) {
  .product-not-found-heading {
    font-size: 50px;
  }
}
